.content {
  padding-right: 40px;
  padding-left: 30px;
  padding-top: 24px;
  padding-bottom: 50px;
}

.block-element {
    padding: 20px;    
}

.block-element.dissociate {
    margin-top: 20px; 
}

.block-element.padding-top {
    padding-top: 22px !important;
}

.form-element {
    padding: 50px;
}

.hidden {
    visibility: hidden;
}

.page-title{
    margin-bottom: 20px;
}

.page-icon{
    font-size: 70px!important;
    color:#5071b6!important;
}

.tab-icon{
    font-size: 40px!important;
    color:#5071b6!important;
}

label {
    font-weight: normal;
}